* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(205, 238, 238);
    /* width: 100vw; */
}

.container {
    display: flex;
    background-color: aqua;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.navleft {
    display: flex;
    align-items: center;
    flex-grow: 1;

}

.navleft img {
    width: 60px;
    border-radius: 50%;
    margin: 5px;
}

.navright {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navright input {
    background-color: rgba(86, 86, 114, 0);
    color: rgb(8, 0, 78);
    border: none;
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    padding: 5px 10px;}

.navright input:hover {
    background-color: rgba(202, 193, 131, 0.507);
    color: blue;
    border-radius: 30px;
    font-size: 15px;
    padding: 10px;
    font-style: normal;
    text-decoration: none;
}

.contant {
    display: flex;
    align-items: center;
    width: 99%;
    padding: 20px;
}

.contant img {
    border-radius: 50%;
            max-width: 70%;
            height: auto;
            margin: 10px;
            box-shadow: -5px 13px 17px 6px black;
}

.mainline {
    margin-left: 20px;
}
.mainline h1 {
    /* text-align: left;
    justify-content: center;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(4, 0, 255);
    font-size: 28px;
    margin: 30px 0px 0px 40px; */
    font-style: italic;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: rgb(4, 0, 255);
            font-size: 28px;
            margin-bottom: 10px;
}

.mainline h1::first-letter {
    color: rgb(255, 0, 0);
    font-size: 35px;
    font-weight: bolder;
}

.mainline h2 {
    /* margin: 0px 0px 0px 180px; */
    font-size: 40px;
}

section {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: 50px;
}

/* notes */
.notes .classes {
 
    text-align: center;
    width: 10rem;
    height: 16rem;
    margin: 59px;
    background-color: rgb(91, 182, 194);
    border-radius: 30px;
}

/* class 5 logo */
.notes .classes .Classimg {
    border-radius: 50%;
    margin: 10px;
    width: 100px;

}

.notes .classes h2 {
    font-family: math;
}

.notes .classes .notes5 {
    border: none;
    width: 80px;
    height: 34px;
    /* text-align: center; */
    padding: 8px 10px 10px 10px;
    margin: 15px;
    border-radius: 52px;
    cursor: pointer;
}